*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: goldenrod;
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 5px;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #121a21;
    color: white;
    width: 320px;
    border-radius: 5px;
    margin: 40px auto;
    text-align: center;
    padding: 16px;
}
#message-el {
    font-style: italic;
}
p {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 700;
}

button {
    width: 150px;
    color: #121a21;
    background: goldenrod;
    padding: 5px 10px;
    border-radius: 2px;
    border: none;
    font-size: 18px;
    font-weight: 600;
}
.btn{
    margin-top: 5px;
}