@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
}
body{
  height: 100vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #01041e, #920cbe);
}
h1 {
    color: #5220da;
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 5px;
    text-align: left;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: #425768;
    width: 360px;
    height: 45vh;
    border-radius: 5px;
    margin:auto;
    text-align: center;
    padding: 16px;
    border: 2px solid #d7d7d7;
}
#message-el {
    font-style: italic;
    color: rgb(37, 163, 41);
}
p {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 700;
}


button {
    width: 200px;
    color:white;
    background: goldenrod;
    padding: 5px 10px;
    border-radius: 2px;
    border: none;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}
button:hover{
    background-color:#F2F4F8;
    animation-delay: ease 0.3s;
    color: goldenrod;
}
.btn{
    margin-top: 10px;
}

#player-el {
    margin-top: 5px;
    
}